#calendar {
    max-width: 1200px;
    height: auto;
}

.removeOrder{
    position: absolute;
    right: 5px;
    z-index: 1500;
    font-size: 14px;
    font-weight: bold;
}

.loader{margin-top:15px;}

h1{margin-top: 20px; border-bottom: 1px solid #cccccc; padding-bottom: 10px; margin-bottom: 20px;}
.cl-item{padding: 10px;}
.col-md-3{
    float: left;
    width: 30%;
}
.fc-title {font-weight: bold; font-size: 12px; color: #f1d32f;}
 div.fc-day-grid{ position: absolute !important; bottom: -37px;


}

.fc-day-grid .fc-bg table {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    height: 80px;
}
.fc-widget-content{
    height: 35px !important;

}
hr.fc-widget-header{
    display: none;
}

#calendar, #calendar1, #calendar2, #calendar3, #calendar4 {margin-bottom: 80px;}

.fc-sat, .fc-sun { background-color: rgba(195, 240, 0, 0.31); }

.modal {max-height:520px}
#myModal{display:none;}